html {
  --text-sizing: 100%;
  --text-font: "Comic Sans MS";

  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  margin: 0;
}

.shop {
  background-color: dodgerblue;
  width: 100%;

  -webkit-transform: translateY(var(--pos));
  transform: translateY(var(--pos));

  padding: 15px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  transition-duration: 0.5s;
}

.contents {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clicker {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  padding: 15px;
}

.bottom {
  padding: 15px;
}

p {
  font-family: var(--text-font);
  font-size: var(--text-sizing);
}

button {
  font-family: var(--text-font);
  font-size: var(--text-sizing);

  background-color: lightsalmon;
  color: white;
  
  border: none;
  border-radius: 12px;
  padding: 5px 15px;
}

.shop button {
  background-color: deepskyblue;
}